{% extends "base_unauth.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
  <div class="form-container">

    <h1 class="title has-text-centered">Volunteer Hour Tracker</h1>
    <br>
    <h2 class="subtitle has-text-centered">
        Welcome to the Brown County Mountain Biking Volunteer Hour Tracker.
    </h2>

    {% if username %}
        <p><strong>User:</strong> {{ username }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="field">
            <p class="control">
                <div class="is-flex button-container" style="justify-content: space-between;">
                    <button class="button is-success" type="submit">Login</button>
                </div>
                <div class="is-flex is-justify-content-center is-align-items-center mt-2">
                    <a href="{% url 'register' %}" class="mr-2">Register</a>
                    <span>|</span>
                    <a href="/accounts/password_reset/" class="ml-2">Forgot Password</a>
                </div>

            </p>
        </div>
    </form>
  <div class="header-row"></div>
<div>
{% endblock %}