{% extends "base_unauth.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
  <div class="form-container">
        <h1 class="title is-1">Reset Password</h1>
        <h2 class="subtitle">
            Please enter a valid email address below, if it exists we will send you an e-Mail with a link to reset your password.
        </h2>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid mt-4">
                <button type="submit" class="button is-primary">Send Email</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}