{% extends "base_unauth.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
  <div class="form-container">
        <h1 class="title is-1">Check Your Inbox!</h1>

          <p class="subtitle">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. 
            You should receive them shortly.
          </p>
          <p class="subtitle"> 
            If you don't receive an email, please make sure you've entered the address 
            you registered with, and check your spam folder.
          </p>
          <p class="subtitle"> 
            If you continue to have trouble, please contact us at <a href="mailto:volunteer@bcmtb.org">volunteer@bcmtb.org</a>
          </p>
  </div>
</div>

{% endblock %}