

{% extends "base_unauth.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">
  <div class="form-container">

        {% if validlink %}
          <h2 class="title has-text-centered">Set a New Password</h2>
          <form method="post">
            {% csrf_token %}
             {{ form|crispy }}
            <button type="submit" class="button is-primary">Change my password</button>
          </form>
        {% else %}
          <h2 class="title">Link Expired!</h2>
          <p class="subtitle">
            The password reset link was invalid, possibly because it has already been used. 
            Please request a <a href="{% url 'password_reset' %}">new password reset</a>.
          </p>
        {% endif %}
        
        <br>
        <p class="subtitle"> 
            If you continue to have trouble, please contact us at <a href="mailto:volunteer@bcmtb.org">volunteer@bcmtb.org</a>
        </p>

  </div>
</div>


{% endblock %}