{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="margin-top: 80px">
  
  {% if messages %}
      <div class="container mt-3">
          {% for message in messages %}
              <div class="notification is-success">
                  <button class="delete"></button>
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}

  <div class="tabs is-boxed">
    <ul>
        <li class="is-active"><a href="{% url 'accounts:profile' %}">Profile</a></li>
        <li><a href="{% url 'accounts:password_change' %}">Password</a></li>
    </ul>
  </div>
  
    <h2 class="title is-4">Account Settings</h2>

    <label class="label">eMail</label>
    <div class="box">{{ user.email }}</div>

    <form method="post">
        {% csrf_token %}
        {{ profile_form|crispy }}
        
        <div class="field mt-4">
            <button type="submit" class="button is-link">Save Changes</button>
        </div>
    </form>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      const $notification = $delete.parentNode;
      
      // Auto-hide after 4 seconds
      setTimeout(() => {
        $notification.style.display = 'none';
      }, 5000);

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });

</script>
{% endblock %}