{% extends 'base_unauth.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box has-text-centered">
                    <span class="icon is-large has-text-success">
                        <i class="fas fa-check-circle fa-3x"></i>
                    </span>
                    <h1 class="title is-3 mt-4">Account Activated</h1>
                    <p class="subtitle is-5">Welcome Volunteer!</p>
                    <hr>
                    <div class="content">
                        <p>Your email has been verified. You can now log in and start logging your volunteer hours for Brown County Mountain Biking.</p>
                    </div>
                    <a href="{% url 'accounts:login' %}" class="button is-primary is-fullwidth">Log In Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}