{% extends "base.html" %}
{% block content %}
<div class="main-container">

    <div class="header-row">
        <h2 class="title">ADMIN Volunteer Hours</h2>
        {% if not user.is_staff %}
        <div class="box">
            ADMIN Total hours for {{ current_year }}: <strong>{{ total_hours }}</strong> hours
        </div>
        {% endif %}
        <a href="{% url 'add_entry' %}" class="btn-add button is-primary">Add New Entry</a>
    </div>


    <!-- https://bulma.io/documentation/elements/table/ -->
     <div class="responsive-table-container">
<table cellpadding="6" id="table" class="table is-fullwidth is-striped is-hoverable tableSortable responsive-table">
    <thead>
        <tr>
            <th>eMail</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Category</th>
            <th>Location</th>
            <th class="actions-col">Actions</th>
            <th class="mobile-only"></th>
        </tr>
    </thead>
    <tbody>
        {% for e in entries %}
        <tr class="clickable-row" data-pk="{{ e.pk }}">

            <td>{{e.user.last_name}}, {{ e.user.first_name }}</td>
            <td>{{ e.date }}</td>
            <td>{{ e.hours }}</td>
            <td>{{ e.category.name }}</td>
            <td>{{ e.location.name }}</td>
            <td class="actions-col">
                <a href="{% url 'edit_entry' e.pk %}?next={{ request.get_full_path }}" class="button is-warning" style="height:1rem">Edit</a> 
                <a href="{% url 'delete_entry' e.pk %}" class="button is-danger" style="height:1rem">Delete</a>
            </td>
            <td class="mobile-only text-center">⋮</td>
        </tr>

        {% empty %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="1">No entries yet.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
     </div>
</div>


<script>
    const isStaff = "{{ user.is_staff|yesno:'true,false' }}" === "true";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% endblock %}
