{% extends "base.html" %}
{% block content %}
<div class="main-container">

   <div class="level mb-5">
    <div class="level-left">
        <div class="level-item">
            <h2 class="title is-3 mb-0">Volunteer Hours</h2>
        </div>
    </div>

    <div class="level-right">
        <div class="level-item">
            <form method="GET" id="yearForm">
                <div class="field has-addons">
                    <p class="control">
                        <span class="button is-static">Year</span>
                    </p>
                    <p class="control">
                        <span class="select">
                            <select name="year" onchange="this.form.submit();">
                                <option value="all" {% if selected_year == 'all' %}selected{% endif %}>All</option>
                                {% for y in year_list %}
                                    <option value="{{ y }}" {% if selected_year == y|stringformat:"i" or selected_year == y %}selected{% endif %}>
                                        {{ y }}
                                    </option>
                                {% endfor %}
                            </select>
                        </span>
                    </p>
                </div>
            </form>
        </div>

        <div class="level-item">
            <div class="tags has-addons">
                <span class="tag is-dark is-large">Total for {{ selected_year }}</span>
                <span class="tag is-info is-large">{{ total_hours }}h</span>
            </div>
        </div>

        <div class="level-item">
            <a href="{% url 'add_entry' %}" id='mobile-button' class="button is-primary is-fab-mobile">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Add Entry</span>
            </a>
        </div>
    </div>
</div>

    <!-- data table buttons and search on top -->
    <div id="datatable-controls" class="mb-4"></div>

    <!-- https://bulma.io/documentation/elements/table/ -->
     <div class="table-container">
        <div id="editNotification" class="notification is-danger" style="display: none; margin-top: 1rem;">
            <button class="delete"> </button>
            Editting hours is not supported. Please contact the trail team if you need to edit your hours.
        </div>

        {% if entries %}

        <table cellpadding="6" id="table" class="table is-fullwidth is-striped is-hoverable tableSortable">
            <thead>
                <tr>
                    <th class="default-sort">Date</th>
                    <th>Hours</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th class="actions-col">Actions</th>
                    <th class="mobile-only"></th>
                </tr>
            </thead>
            <tbody>
                {% for e in entries %}
                <tr class="clickable-row" data-pk="{{ e.pk }}">
                    <td data-order="{{ e.date|date:'Ymd' }}">{{ e.date }}</td>
                    <td>{{ e.hours }}</td>
                    <td>{{ e.category.name }}</td>
                    <td>{{ e.location.name }}</td>
                    <td class="actions-col">
                        {% if user.is_staff %}
                        <a href="{% url 'edit_entry' e.pk %}?next={{ request.get_full_path }}" class="button is-warning" style="height:1rem">Edit</a>
                        {% else %}
                        <a onclick="editNofication()" class="button is-warning openModalBtn" style="height:1rem">Edit</a> 
                        {% endif %}
                        <a href="{% url 'delete_entry' e.pk %}" class="button is-danger" style="height:1rem">Delete</a>
                    </td>
                    <td class="mobile-only text-center">⋮</td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="1">No entries yet.</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="box">
            <p>No entries yet.</p>
        </div>
        {% endif %}
    </div>
</div>


<script>
    const isStaff = "{{ user.is_staff|yesno:'true,false' }}" === "true";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% endblock %}
