{% extends "base.html" %}
{% block content %}
<div class="main-container">

    <div class="header-row">
        <h2 class="title">Volunteer Hours</h2>
        <a href="{% url 'add_entry' %}" class="btn-add button is-primary">Add New Entry</a>
    </div>


    <!-- https://bulma.io/documentation/elements/table/ -->
<table cellpadding="6" id="table" class="table is-fullwidth is-striped is-hoverable tableSortable">
    <thead>
        <tr>
            {% if user.is_staff %}
            <th>eMail</th>
            {% endif %}
            <th>Date</th>
            <th>Hours</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for e in entries %}
        <tr>
            {% if user.is_staff %}
            <td>{{ e.user.email }}</td>
            {% endif %}
            <td>{{ e.date }}</td>
            <td>{{ e.hours }}</td>
            <td>{{ e.get_category_display }}</td>
            <td>
                <a href="{% url 'edit_entry' e.pk %}">Edit</a> |
                <a href="{% url 'delete_entry' e.pk %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            {% if user.is_staff %}
            <td>&nbsp;</td>
            {% endif %}
            <td colspan="1">No entries yet.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

{% endblock %}
