{% extends "base.html" %}
{% block content %}
<div class="main-container">

    <div class="header-row">
        <h2>Volunteer Hours</h2>
        <a href="{% url 'add_entry' %}" class="btn-add">Add New Entry</a>
    </div>


    <table border="1" cellpadding="6">
    <tr>
        {% if user.is_staff %}
        <th>Username</th>
        {% endif %}
        <th>Date</th>
        <th>Hours</th>
        <th>Category</th>
        {% if not user.is_staff %}
        <th>Actions</th>
        {% else %}
        <th>Actions</th>
        {% endif %}
    </tr>

    {% for e in entries %}
    <tr>
        {% if user.is_staff %}
        <td>{{ e.user.username }}</td>
        {% endif %}
        <td>{{ e.date }}</td>
        <td>{{ e.hours }}</td>
        <td>{{ e.get_category_display }}</td>
        <td>
        {% if user.is_staff or user.is_superuser or e.user == user %}
            <a href="{% url 'edit_entry' e.pk %}">Edit</a> |
            <a href="{% url 'delete_entry' e.pk %}">Delete</a>
        {% endif %}
        </td>


    </tr>
    {% empty %}
    <tr><td colspan="5">No entries yet.</td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
