


{% extends "base_unauth.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-container">

  <div class="header-row title">
      <h2 class="title title-center">New Account Registration</h2>
  </div>

  {% if messages %}
    {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}

  <div class="form-container">

    <form method="post">
        {% csrf_token %}
      
      <div class="columns">
        <div class="column">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="column">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>

          {{ form.email|as_crispy_field }}
          {{ form.phone_number|as_crispy_field }}

          
          {{ form.address_line_1|as_crispy_field }}
          {{ form.city|as_crispy_field }}
          {{ form.state|as_crispy_field }}
          {{ form.zip_code|as_crispy_field }}

          {{ form.password1|as_crispy_field }}
          {{ form.password2|as_crispy_field }}

        <div class="field">
            <p class="control">
                <div class="is-flex">
                    <button class="button is-success is-fullwidth" type="submit">Register</button>

                </div>

            </p>
        </div>
    </form>
  <div class="header-row"></div>
<div>
{% endblock %}