


{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<header class="header">
         <nav class="nav container">
            <a href="/" class="nav__logo">Logo</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li>
                     <a href="{% url 'dashboard' %}" class="nav__link">Hours</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-large-line"></i>
               </div>
            </div>

            
         </nav>
      </header>


<div class="main-container">

  <div class="header-row title">
      <h2>Register</h2>
  </div>

  <div class="form-container">
    {% if username %}
        <p><strong>User:</strong> {{ username }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
      
      <div class="columns">
        <div class="column">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="column">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>

      {{ form.email|as_crispy_field }}
      {{ form.password|as_crispy_field }}
      {{ form.confirm_password|as_crispy_field }}



        <div class="field">
            <p class="control">
                <div class="is-flex">
                    <button class="button is-success" type="submit">Register</button>

                </div>

            </p>
        </div>
    </form>
  <div class="header-row"></div>
<div>
{% endblock %}