{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Volunteer Tracker</title>

   <link rel="stylesheet" href="{% static 'hourTracker/css/navbar.css' %}">
   <link rel="stylesheet" href="{% static 'hourTracker/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'hourTracker/css/tablesort.css' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css">
   <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">

   <!-- search box  -->
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

   
</head>
<body>
  {% if user.is_authenticated %}
  
      <!--==================== HEADER ====================-->
      <header class="header">
         <nav class="nav container">
            <a href="/" class="nav__logo">
               <!-- <figure  style="height: 3rem;"> -->
               <img src="{% static 'hourTracker/images/bcmb_logo_full.png' %}"/>
               <!-- </figure> -->
            </a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li>
                     <a href="{% url 'dashboard' %}" class="nav__link">My Hours</a>
                  </li>
                  {% if user.is_staff %}
                  <li>
                     <a href="/admin_dashboard/" class="nav__link">All Hours</a>
                  </li>
                  {% endif %}
                  <li>
                     <!-- <a href="https://images.squarespace-cdn.com/content/v1/6421e015566ba11c10666b68/f59c7e62-0cd3-4a89-8909-072d5eb011d4/Volunteer+Rewards.JPG?format=750w"  target="_blank" class="nav__link">Rewards</a> -->
                     <a href="{% url 'rewards' %}" class="nav__link">Rewards</a>
                  </li>
                  {% if user.is_staff %}
                  <li>
                     <a href="/admin/" class="nav__link">Admin</a>
                  </li>
                  {% endif %}

               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-large-line"></i>
               </div>
            </div>

            <div class="nav__actions">
               <!-- Dropdown -->
               <div class="dropdown" id="dropdown">
                  <div class="dropdown__profile">
                     <div class="dropdown__names">
                        <!-- <h3>{{ user.first_name }}</h3> -->
                        <span>{{ user.role }}</span>
                     </div>
      
                     <div class="dropdown__image avatar">
                        {% with user.first_name|slice:":1" as first %}
                        {% with user.last_name|slice:":1" as last %}
                           {{ first|upper }}{{ last|upper }}
                        {% endwith %}
                        {% endwith %}
                        <!-- <img src="assets/img/perfil.png" alt="image"> -->
                     </div>
                  </div>
   
                  <div class="dropdown__list">
                     <a href="/admin/password_change/" class="dropdown__link">
                        <i class="ri-user-line"></i>
                        <span>Profile</span>
                     </a>
      
                     <a href="/admin/password_change/" class="dropdown__link">
                        <i class="ri-settings-3-line"></i>
                        <span>Settings</span>
                     </a>
   
                     <a href="{% url 'logout' %}" class="dropdown__link" id="logout-link">
                        <i class="ri-logout-box-r-line"></i>
                        <span>Logout</span>
                     </a>
                     <!-- This is hidden by JS -->
                     <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                     </form>
                  </div>
               </div>

               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>
      

  
  {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
  <hr>
   <main style="padding-top: 1.5rem;">
   {% block content %}
   {% endblock %}
   </main>
  <script src="{% static 'hourTracker/js/navbar.js' %}"></script>
  <!-- <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> -->
  <script src="{% static 'hourTracker/js/tablesort.js' %}"></script> 

   <!-- CSV Export -->
   <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

   
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; {{ current_year }} BCMTB Volunteer Tracker. All rights reserved.
      </p>
      <p>v1.6.1</p>
    </div>
  </footer>
</body>
</html>

