{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer Tracker</title>
   <link rel="stylesheet" href="{% static 'hourTracker/css/navbar.css' %}">
   <link rel="stylesheet" href="{% static 'hourTracker/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'hourTracker/css/tablesort.css' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css">
   <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">




</head>
<body>

  
      <!--==================== HEADER ====================-->
      <header class="header">
         <nav class="nav container">
            <a href="/" class="nav__logo">
               <!-- <figure  style="height: 3rem;"> -->
               <img src="{% static 'hourTracker/images/bcmb_logo_full.png' %}"/>
               <!-- </figure> -->
            </a>

            
         </nav>
      </header>
      

  

  <hr>
   <main style="padding-top: 1.5rem;">
   {% block content %}
   {% endblock %}
   </main>
  <script src="{% static 'hourTracker/js/navbar.js' %}"></script>
  <!-- <script type="text/javascript" src="/path/to/jquery-latest.js"></script>
  <script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> -->
  <script src="{% static 'hourTracker/js/tablesort.js' %}"></script> 

   <!-- CSV Export -->
   <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

</body>
</html>

