.main-container {
    max-width: 900px;   /* or whatever looks good */
    margin: 2rem auto;  /* centers horizontally */
    padding: 1rem;
}

.header-row {
    display: flex;
    justify-content: space-between; /* pushes items to left and right */
    align-items: center;             /* vertical alignment */
    margin: .5rem auto;
    padding: 0 1rem;
    width: 98%
}
.btn-add {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
}
.btn-add:hover {
    background-color: #0056b3;
}

.form-container {
    align-items: center;             /* vertical alignment */
    margin: .5rem auto;
    padding: 0 1rem;
    width: 50%
}

table{
    margin: 0 auto;
}

@media (max-width: 1150px) {
    .header-row {
        flex-direction: column;    /* stack items */
        align-items: center;   /* optional: left-align items */
        width: 90%;                /* optional: take more width on small screens */
    }

    .header-row > * {
        margin-bottom: 1rem;       /* spacing between items */
    }
}