<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Volunteer Tracker</title>
</head>
<body>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} | 
       <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">Logout</button>
            {% if user.is_staff %}
            {% comment %} Admin Link {% endcomment %}
             | <a href="/admin/">Admin</a>
            {% endif %}
        </form>

    </p>
  {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
